@tailwind base;
@layer base{
    *{
        @apply text-eerie-black;
    }
    li{
        @apply font-bold my-0 mx-2 text-hdr;
    }
    li::before{
        content: "\200B";
        @apply absolute;
    }
    a{
        @apply no-underline border-2 border-solid border-transparent;
    }
    #about a{
        @apply underline text-dark-blue;
    }
    #about a:hover{
        @apply bg-dark-blue text-white;
    }
    a:focus,
    #cont a:hover{
        @apply outline-none border-solid border-2 border-dark-blue;
    }
    /* @screen exp{
        li{
            @apply m-0;
        }
    } */
    @screen sm{
        li{
            @apply text-exp;
        }
    }
    #port:target,
    #about:target,
    #articles:target,
    #cont:target{
        @apply pt-24;
    }
    /* @screen exp{
        #port:target,
        #about:target,
        #articles:target,
        #cont:target{
            @apply pt-12;
        }
    } */
    h2{
        @apply text-center text-3xl m-12 font-bold font-corm;
    }
    /* @screen md{
        h2{
            @apply text-4xl m-16;
        }
    }
    @screen lg{
        h2{
            @apply text-5xl m-20;
        }
    } */
    /* section{
        @apply mb-56;
    }
    section:last-of-type{
        @apply mb-24;
    } */
    cite{
        @apply italic;
    }
    #about div p::first-letter{
        color: #405d82;
        @apply font-perm text-first-letter font-bold -mt-16 -mb-8 -mr-4 pr-5 float-left;
    }
    /* #body{
        background-image: paint(bod);
    } */
    #art0{
        background-image: paint(art0);
    }
    #art1{
        background-image: paint(art1);
    }
    .newwindow::after{
        content: '';
        display: inline-block;
        width: 14px;
        height: 14px;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAABl0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4yMfEgaZUAAACoSURBVChTjY49CgIxEIWzYLHXWfAIniM/jZ2NYmHjAfYwgqfJDey228pG3xsZCJNBffAlmSRfMqHWKngppWxzzo+U0gJWrJ/gFTh4UMJ8BkdwAnfuE5Hk2S/BHYoUbp3ktakC2pvBrpNsGuGKefwp4cKBZzHGC2usN5S470o42KugLaMeOEttJdSpFRS950r4ZdKWmFYSgbGSl/YniZX0ZZtO+pePEcIbSqOuBUICUn0AAAAASUVORK5CYII=');
        background-repeat: no-repeat;
        margin-left: 2px;
    }
    /* .cardbg{
        background: radial-gradient(transparent 20%, #ffee88 40%, transparent);
    } */
}

@tailwind components;
@layer components{
    .bord{
        @apply border-2 border-solid border-transparent;
    }
}
@tailwind utilities;