@tailwind base;
@layer base{
    *{
        @apply text-rich-black;
    }
    li{
        @apply font-bold my-0 mx-2 text-hdr;
    }
    li::before{
        content: "\200B";
        @apply absolute;
    }
    li a{
        @apply no-underline border-2 border-solid border-transparent;
    }
    li a:focus{
        @apply outline-none border-solid border-2 border-old-lavender;
    }
    li a:hover{
        @apply underline;
    }
    @screen exp{
        li{
            @apply m-0;
        }
    }
    @screen sm{
        li{
            @apply text-exp;
        }
    }
    #port:target,
    #about:target,
    #articles:target,
    #cont:target{
        @apply pt-24;
    }
    @screen exp{
        #port:target,
        #about:target,
        #articles:target,
        #cont:target{
            @apply pt-12;
        }
    }
    h2{
        @apply text-center text-3xl m-12 font-bold font-corm;
    }
    @screen md{
        h2{
            @apply text-4xl m-16;
        }
    }
    @screen lg{
        h2{
            @apply text-5xl m-20;
        }
    }
    section{
        @apply relative mb-56;
    }
    section:last-of-type{
        @apply mb-24;
    }
    cite{
        @apply italic;
    }
    #about > p:first-of-type::first-letter{
        text-shadow: 4px 6px 1px #090c08;
        @apply font-perm text-5xl font-bold my-0 mx-2 border-double border-rich-black border-4 pt-1 pr-5 pb-5 pl-2 float-left text-rosso-corsa bg-yellow-crayola;
    }
    /* #body{
        background-image: paint(bod);
    } */
    #art0{
        background-image: paint(art0);
    }
    #art1{
        background-image: paint(art1);
    }
    .newwindow::after{
        content: '';
        display: inline-block;
        width: 14px;
        height: 14px;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAABl0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4yMfEgaZUAAACoSURBVChTjY49CgIxEIWzYLHXWfAIniM/jZ2NYmHjAfYwgqfJDey228pG3xsZCJNBffAlmSRfMqHWKngppWxzzo+U0gJWrJ/gFTh4UMJ8BkdwAnfuE5Hk2S/BHYoUbp3ktakC2pvBrpNsGuGKefwp4cKBZzHGC2usN5S470o42KugLaMeOEttJdSpFRS950r4ZdKWmFYSgbGSl/YniZX0ZZtO+pePEcIbSqOuBUICUn0AAAAASUVORK5CYII=');
        background-repeat: no-repeat;
        margin-left: 2px;
    }
    /* .cardbg{
        background: radial-gradient(transparent 20%, #ffee88 40%, transparent);
    } */
}

@tailwind components;
@tailwind utilities;