@tailwind base;
@tailwind components;
@tailwind utilities;

/* @tailwind base;
@layer base{
    *{
        @apply text-eerie-black;
    }
    li::before{
        content: "\200B";
        @apply absolute;
    }
    a{
        @apply outline-none;
    }
    #about a{
        @apply underline text-dark-blue;
    }
    #about a:hover,
    #about a:focus{
        @apply bg-dark-blue text-white;
    }
    cite{
        @apply italic;
    }
    #about p::first-letter{
        color: #e68621;
        margin-top: -2.65rem;
        @apply font-corm text-6xl font-bold -mb-8 mr-2 float-left;
    }
    @screen lg{
        #about p::first-letter{
            margin-top: -5.5rem;
            font-size: 7rem;
            @apply -mb-16;
        }
    }
}
@tailwind components;
@layer components{
    .bord{
        @apply border-2 border-solid border-transparent;
    }
}
@tailwind utilities;
@layer utilities{
    @variants focus-within, hover{
        .filter-invert-92{
            filter: invert(.92);
        }
    }
    @variants focus, hover{
        .filter-article{
            filter: saturate(1.2) drop-shadow(0px 4px 6px #161616);
        }
    }
    @responsive{
        .newwindow::after{
            content: '';
            display: inline-block;
            width: 14px;
            height: 14px;
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsAAAA7AAWrWiQkAAAC2SURBVChTfZIxCgIxEEVnxcLrCNZW1l7Bzm4bwWIbD+BhPJadnZUg8f3ZSUgg7oOXZCbzXdG1lJLbg/4On/jCN34wDVpipmEArq4cvypxj0f0T+s/poKRi+bgoaUJVccCvRy440GHxSdxlQM33OByiPaoO5iiXqNCYzdE66w+TJh7+jG0+9KEKE/qgQcqfc63XGQot+hfSeg6FKXZhHpopJ5bxV6Igahm+J/jNPP3jeiht8TM7AesRubD/q5RWAAAAABJRU5ErkJggg==');
            background-repeat: no-repeat;
            margin-left: 2px;
        }
    }
} */
